/**
 * Eight Column Layout
 */
.col-8-of-8 {
    width: 100%;
}

.col-7-of-8 {
    width: 87.3%;
}

.col-6-of-8 {
    width: 74.6%;
}

.col-5-of-8 {
    width: 61.9%;
}

.col-4-of-8 {
    width: 49.2%;
}

.col-3-of-8 {
    width: 36.5%;
}

.col-2-of-8 {
    width: 23.8%;
}

.col-1-of-8 {
    width: 11.1%;
}

@media only screen and (max-width: 480px) {
    .col-8-of-8 {
        width: 100%;
    }
    .col-7-of-8 {
        width: 100%;
    }
    .col-6-of-8 {
        width: 100%;
    }
    .col-5-of-8 {
        width: 100%;
    }
    .col-4-of-8 {
        width: 100%;
    }
    .col-3-of-8 {
        width: 100%;
    }
    .col-2-of-8 {
        width: 100%;
    }
    .col-1-of-8 {
        width: 100%;
    }
}
