html body {
    margin: 19px 67px 49px 67px;
}

.tron {
    background-color: #eee;
    padding: 19px;
    border-radius: 4px;
    font-family: Raleway, Helvetica, Arial, sans-serif;
    font-size: 1.4em;
}
